/* 1- general */
/* 2- common */
/* 3- header */
/* 4- main */
/* 5- about */
/* 6- profile */
/* 7- services */
/* 8- prices */
/* 9- reviews */
/* 10- teams */
/* 11- teams */
/* 12- contact */
/* 13-footer */

/* general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    font-family: 'Varela', sans-serif;
}
.content-container{
    width: 90%;
    margin: auto;
}
#overrides a{
    text-decoration: none;
}
#overrides a:hover{
    color: white;
}
/* general */

/* common */
.hover-opacity{
    transition: opacity 0.5s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
section{
    text-align: center;
    padding: 90px 0;
    display: flex;
    align-items: center;
}
#overrides hr{
    all: unset;
    margin: 20px;
    display: block;
    margin: 15px auto 40px;
    width: 100px;
    height: 5px;
    border: none;
    background-color: rgb(96, 150, 254);
}
h3{
    font-size: 20px;
}
h2, h3, h4{
    text-transform: capitalize;
    font-weight: bolder;
}
/* common */

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
nav ul{
    margin: 0;
}
nav li{
    display: inline-block;
}
nav li a{
    color: white;
    padding: 30px 12px;
    display: block;
}
#bootstrap-override nav li a:hover{
    all: unset;
    color: white;
    text-decoration: none;
}
nav li > a::after, nav li > a.active::after{
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(96, 150, 254);
    margin-top: 4px;
    transition: width 0.5s;
}
nav li > a::after{
    width: 0;
}
nav li .active::after, nav li > a:hover::after{
    width: 100%;
} 
.dropdown{
    position: relative;
}
.dropdown-menu{
    display: block;
    width: 150px;
    position: absolute;
    text-align: center;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.dropdown-menu a{
    display: block;
    background-color: white;
    color: grey;
    padding: 10px;
}
.dropdown a::after{
    display: none;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
/* header */

/* main */
main{
    background: url(https://pickmytech.com/wp-content/uploads/2020/04/cover-1-1600x960.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}
h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}
main p{
    color: white;
    margin: 15px;
    text-align: center;
}
main button{
    padding: 10px 20px;
    font-size: large;
    border: none;
    border-radius: 2px;
    outline: none;
    margin: 15px;
}
/* main */

/* about */
#about .col, #services .container > .row .col, #prices .col{
    border: 1px solid lightgray;
    margin: 20px;
    position: relative;
}
.ltr-effect::after{
    content: "";
    display: block;
    background-color: black;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
}
.ltr-effect:hover::after{
    width: 100%;
    z-index: -1;
}
#about .text, #services .text, #prices .text{
    margin: 40px;
}
#overrides .fa{
    font-size: 35px;
    color: rgb(96, 150, 254);
}
.ltr-effect:hover h3{
    color: white;
}
#about p, #services p{
    color: grey;
}
#about a, #secvices a{
    color: rgb(96, 150, 254);
}
#about .col .fa, #about .col h3, #about .col p, #about .col a{
    margin: 10px;
}
/* about */

/* portfolio */
#portfolio{
    background-color: rgb(238, 238, 238);
}
#overrides #portfolio .col{
    all: unset;
    height: 220px;
    width: 220px;
    margin: 15px;
}
#portfolio img{
    height: 100%;
    width: 100%;
}
#portfolio .hover-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}
#portfolio .col:hover .hover-overlay{
    opacity: 1;
    visibility: visible;
}
#portfolio p{
    color: rgb(96, 150, 254);
    margin-bottom: 10px;
}
#portfolio h3{
    color: white;
}
#portfolio button{
    background-color: rgb(96, 150, 254);
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    padding: 8px;
}
#portfolio .fa{
    color: white;
    font-size: 16px;
}
#portfolio p, #portfolio h3, #portfolio .buttons{
    margin-bottom: 7px;
}
/* portfolio */

/* services */
#services .col{
    height: 200px;
}
#why-choose-us{
    background-color: rgb(238, 238, 238);
}
#why-choose-us ul{
    list-style-type: none;
}
#why-choose-us hr{
    margin: 15px 0 40px;
}
#why-choose-us h2, #why-choose-us p, #why-choose-us ul{
    text-align: left;
}
#why-choose-us ul{
    padding: 0;
}
#why-choose-us .fa{
    font-size: 16px;

}
#why-choose-us p{
    color: grey;
}
#statistics{
    background-image: url(https://miro.medium.com/max/3840/1*C2jaOz97mrUJ0eaANKjccQ.jpeg);
}
#statistics, #reviews{
    color: white;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#statistics .overlay, #reviews .overlay{
    padding: 90px;
}
#statistics .fa, #statistics h2, #statistics p, #statistics a{
    margin: 10px;
}
/* services */

/* prices */
#prices .col{
    padding: 40px;
    position: relative;
}
#prices .price{
    margin: 0 auto 16px;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(96, 150, 254);
    border-radius: 50%;
}
#prices .price p, #prices h3{
    color: black;
    margin: 0;
}
#prices p, #prices li{
    color: grey;
}
#prices ul{
    list-style-type: none;
    padding: 0;
}
#prices button{
    background-color: transparent;
    color: rgb(96, 150, 254);
    padding: 8px 14px;
    border: 1px solid rgb(96, 150, 254);
    border-radius: 2px;
    outline: none;
}
.ttb-effect::after{
    content: "";
    display: block;
    height: 0;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: height 0.5s;
}
.ttb-effect:hover::after{
    height: 100%;
}
#prices .ttb-effect:hover h3, #prices .ttb-effect:hover .price p, #team .ttb-effect:hover h3{
    color: white;
}
/* prices */

/* reviews */
#reviews{
    background-image: url(https://www.bricotou.com/wp-content/uploads/2021/06/0986e2ae2b085c1635d7399f2bbab37b.jpg);
}
/* reviews */

/* team */
#team .col{
    background-color: rgb(238, 238, 238);
    padding: 40px 20px;
    margin: 20px;
    position: relative;
}
#team .ttb-effect::after {
    z-index: 0;
}
#team .hover-overlay{
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: height 0.5s;
}
#team .col:hover .hover-overlay{
    height: 100%;
}
#team .buttons{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
#team .col:hover .buttons{
    opacity: 1;
    visibility: visible;
}
#team .col img{
    width: 300px;
    position: relative;
}
#team p{
    color: rgb(115, 115, 115);
}
#team img, #team h3, #team p{
    margin-bottom: 10px;
}
#team .content{
    z-index: 2;
    position: relative;
}
#team .ttb-effect:hover h3{
    color: white;
}
#team .ttb-effect:hover p{
    color: rgb(96, 150, 254);
}
#team button, footer button{
    background-color: rgb(96, 150, 254);
    height: 50px;
    width: 50px;
    padding: 10px;
    border: none;
    outline: none;
}
/* team */

/* blog */
#blog{
    background-color: rgb(238, 238, 238);
}
#blog .col{
    background-color: white;
    margin: 20px;
    padding: 0;
}
#blog span{
    color: black;
}
#blog p{
    color: rgb(115, 115, 115);
}
#blog a, #blog a:hover{
    color: rgb(96, 150, 254);
}
/* blog */

/* contact */
#contact .info, #contact .fa, #contact h3{
    margin-bottom: 10px;
}
#contact p{
    color: rgb(115, 115, 115);
}
#contact form .row{
    margin-bottom: 24px;
}
#contact input, #contact textarea{
    text-align: left;
    padding: 8px;
    color: rgb(115, 115, 115);
    background-color: rgb(244, 244, 244);
    border: none;
    border-bottom: 2px solid rgb(238, 238, 238);
}
#contact button{
    color: white;
    background-color: rgb(96, 150, 254);
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
}
/* contact */

/* footer */
footer{
    padding: 60px 0;
    background-color: rgb(28, 29, 33);
}
footer .row{
    margin-bottom: 15px;
}
footer button{
    border-radius: 2px;
}
#overrides footer .social-media{
    margin: 0 auto 15px;
    width: 500px;
}
footer p{
    color: rgb(115, 115, 115);
}
/* footer */